[CONFIGS]
#IP or domain for your smartphone
host = woland.moutakis.name 
#directory for the feather-file
datadir = /app/data 

[SUBCATEGORIES]
#examples of HomeBudget subcategories and their priority
Inredning=High
Medlemsavgift=High
Hyra=High
Räkningar=Low
Diverse Hushåll=Middle
